index:
  .User
    .User-input
      .u-textDecoration
        | Become professor:
      input(type='checkbox', on-change='setProfessor()', checked='{{user.isProfessor}}')

    .User-name
      .u-textDecoration
        | Username:
      | {{user.userName}}

    form.User-form(on-submit='setUserName()')
      .u-textDecoration
        | Enter your name:
      input(type='text', value='{{userName}}')
      button(type='submit') Save