index:
  .Table
    .Table-tables
      .Table-tables-mainTable
        table.-mainBorder
          caption Results
          thead
            tr
              td
              each game.rounds as #round
                td._tableRounds Round {{#round}}
            tr
              th.u-quantityTextColor Quantity
              each game.rounds
                td
          tbody
            each playerIds as #playerId
              with #root.players[#playerId] as #player
                tr
                  td {{#root.users[#player.userId].userName}}
                  each Object.keys(#player.quantities) as #quantity, #j
                    td.u-quantityTextColor
                      if #player.userId == user.id || game.currentRound != #j + 1 || user.isProfessor || game.finished
                        | {{roundValues(#player.quantities[#quantity])}}
            tr
              th.u-priceTextColor(scope='row') Price
              each prices as #price, #i
                td.u-priceTextColor
                  if game.currentRound != #i + 1 || user.isProfessor || game.finished
                    | {{roundValues(#price)}}
            tr
              th.u-profitTextColor Profit
              each game.rounds
                td
            each playerIds as #playerId
              with #root.players[#playerId] as #player
                tr
                  td {{#root.users[#player.userId].userName}}
                  each profits[#player.userId] as #profit, #j
                    td
                      if game.currentRound != #j + 1 || user.isProfessor || game.finished
                        | {{roundValues(#profit)}}

      view(is='totalProfitsTable')

    view(is='theWinner')

totalProfitsTable:
  if game.finished || user.isProfessor
    table.-totalProfitBorder
      thead
        tr
          th.u-profitTextColor Total Profit
      tbody
        each playerIds as #playerId
          with #root.players[#playerId] as #player
            tr
              td
                if totalProfits[#player.userId] || totalProfits[#player.userId] == 0
                  | {{roundValues(totalProfits[#player.userId])}}

theWinner:
  if game.finished
    .Table-winner.u-textAlign.u-fontSize
      | The winner is
      .u-fontWeight
        | {{#root.users[winnerId].userName}}