index:
  .GamesList
    .u-textDecoration
      | Games:
    each gamesList as #game
      div
        | {{#game.name}}
        if #game.canJoin
          a.GamesList-a(on-click='join(#game, $event)') Join